/build/
/build-*/
/package/
/release/
/_CPack_Packages/
*.zip
/out/
/.vs/
/.idea/
/.vscode/
/.venv/
**/CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
compile_commands.json
Makefile
build.ninja
.ninja_deps
.ninja_log
_deps/
gladsources/
*.exe
*.dll
*.lib
*.pdb
*.obj
*.o
*.a
*.so
*.so.*
*.dylib
*.ilk
*.exp
*.pch
*.idb
*.ipch
*.tlog
*.log
*.sln
*.slnx
*.vcxproj
*.vcxproj.*
*.suo
*.user
*.VC.db
*.VC.opendb
.DS_Store
Thumbs.db
